
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
      font-family: MontSerrat, "sans-serif";

}
.nextui,
[data-n2-theme="light"] .nextui,
[data-n2-theme="dark"] .nextui {
  background-color: #15171e !important;
}
  .mines-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
  }
  
  .mines-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
  }
  
  .mine {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  
  .mine.selected {
    border: 2px solid #000;
  }
  

.empty {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pt-24{
  background-color: #15171e !important;

}
body {
  font-family: MontSerrat, "sans-serif";
  font-weight: 600;
  background-color: #15171e !important;


  width: 100%;
  height: 100%;
  background-color: #15171e;
      font-family: MontSerrat, "sans-serif";

}
.tabs-container {
  /* Adjust the padding to increase the size of the tabs */
  padding: 16px;
  padding: 20px;

}
.containers {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  margin-top: 20px;
  background-color: #1c1d27;
  width: 100%;
  height: 270px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) and (min-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles specific to Android devices */
  iframe {
    width: 100%; /* Adjust the width as needed */
    height: 100vh; /* Adjust the height as needed */
  }
}

.item {
  transition: transform 0.5s ease-in-out;
}

.slide {
  transform: translateX(100%);
}
.tests {
  margin-left: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
  transition: filter 0.1s ease-in-out 0s;
  height: 45px;
  padding: 10px 12px;
  border-radius: 5px;
  font-weight: 100;
  }
.trigger-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.plinko-chip {
  background-color: #ffcc00; /* Set the color of the Plinko chip */
}

.plinko-canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Allow clicks to pass through the canvas to the underlying elements */
}

.tab-item {
  /* Adjust the font-size to increase the text size within each tab */
  font-size: 20px;
  
}
.slider-container {
  display: flex;
  transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.slider-item {
  margin-right: 20px; /* Adjust as needed, this is the space between items */
}

/* Add this class to the parent div to trigger the sliding effect */
.slide-left {
  transform: translate3d(100%, 0, 0);
}

.smooth{     
  font-size: 24px;
  font-weight: bold;
  transition: 10s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
@keyframes rainbowAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.custom-modal {
  background-color: #15171e;
}
/* Center the Select component */
.custom-modal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminusernamestyle {
  font-weight: 700;
  color: rgb(28, 29, 39);
  background-image: inherit;
  background-position: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-attachment: inherit;
  background-origin: inherit;
  background-clip: inherit;
  animation: rainbowAnimation 20s linear infinite; /* Adjust the duration and easing as needed */
  background: linear-gradient(90deg, rgba(238, 130, 238, 0.5),  blue, green, yellow, orange, red, rgba(75, 0, 130, 0.5), rgba(0, 0, 255, 0.5), rgba(0, 255, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(255, 127, 0, 0.5), rgba(255, 0, 0, 0.5), rgba(238, 130, 238, 0.5));
  background-size: 800% 800%; /* Adjust the size based on the number of colors */
  border-radius: 4px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
}
.fliprender {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.adminlevel {
  font-weight: 700;
  color: rgb(28, 29, 39);
  background-image: linear-gradient(320deg, rgb(75, 239, 161) 0%, rgb(88, 187, 76) 100%);
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: inherit;
  border-radius: 4px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;}
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #15171e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #37393c;
  border-radius: 100vh;
  border: 3px solid #37393c;
}
/* Updated CSS to center the container */
.register-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the container horizontally */
  justify-content: center; /* Center the container vertically */
}

.register-form {
  width: 100%; /* Make the form take the full width of the container */
}

.input-field {
  
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%; /* Make the input fields take the full width of the form */
}

.register-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%; /* Make the button take the full width of the form */
  
}
.imagenew {
image-rendering: pixelated;
filter: drop-shadow(rgba(0, 0, 0, 0.25) -6px 6px 0px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(70, 211, 66, 0.7);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 20px 10px rgba(70, 211, 66, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(70, 211, 66, 0.7);
  }
}


.slave {
  width: 15px;
  height: 15px;
  display: inline-flex;
  background-color: rgb(70, 211, 66);
  opacity: 0.8;
  border-radius: 100%;
  margin-right: 0.5rem;
  box-shadow: rgb(70, 211, 66) 0px 0px 0px 0px;
  animation: pulse 2s ease 0s infinite normal none running;
}

.playbutton {
  
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease 0s;
  color: white;
  background-color: rgb(68, 131, 235);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 0px inset, rgb(83, 97, 180) 0px 0px 12px inset;
  border: transparent;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-family: inherit;
  font-size: 0.9rem;
  text-shadow: rgba(0, 0, 0, 0.3) 0.5px 1px 2px;
  cursor: pointer;
  user-select: none;
}
.incresebutton{
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  color: rgb(163, 166, 194);
  width: 30px;
  height: 30px;
}
.betbutton {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease 0s;
  color: white;
  background-color: rgb(68, 131, 235);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 0px inset, rgb(83, 97, 180) 0px 0px 12px inset;
  border: transparent;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-family: inherit;
  font-size: 0.9rem;
  text-shadow: rgba(0, 0, 0, 0.3) 0.5px 1px 2px;
  cursor: pointer;
  user-select: none;
}

.register-button:hover {
  background-color: #45a049;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #37393c;
}
@keyframes rainbowAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-button {
  animation: rainbowAnimation 20s linear infinite; /* Adjust the duration and easing as needed */
  background: linear-gradient(90deg, rgba(238, 130, 238, 0.5),  blue, green, yellow, orange, red, rgba(75, 0, 130, 0.5), rgba(0, 0, 255, 0.5), rgba(0, 255, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(255, 127, 0, 0.5), rgba(255, 0, 0, 0.5), rgba(238, 130, 238, 0.5));
  background-size: 800% 800%; /* Adjust the size based on the number of colors */
  
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modal {
  background: #fff; /* White background for the modal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  font-weight: 500;
  background-color: rgb(28, 29, 39);
  color: rgb(163, 166, 194);
  padding: 0.75rem;
  border: 1px solid rgb(57, 62, 90);
  border-radius: 5px;
  flex-direction: column;
  width: 40%;
  height: 40%;

  
}


.input-container {
  /* Diğer stiller */
    width: 100%;
    color: #fdfdfd;
    background: var(--input-background);
    box-shadow: var(--input-box-shadow);
    border: var(--input-border-width) solid var(--input-border);
    border-radius: var(--input-border-radius);
    letter-spacing: var(--input-letter-spacing);
    font-weight: var(--input-font-weight);
    transition: all var(--input-transition);
    outline: 0;
    margin: 0;
    cursor: text;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: var(--text-size-default);
    box-shadow: none;
}

.input-container label {
  font-weight: 500;

  margin-bottom: 5px; /* Label'ların arasındaki boşluğu ayarlamak için */
}

.input-container input {
    border-radius: 6px;
    padding: 0.5rem;
    align-items: center; /* Inputları ve butonu merkeze almak için */
    flex-direction: column;
  
    font-family: Montserrat, "sans-serif";
    width: 100%;
    font-weight: 500;
    background-color: transparent;
    outline: none;
    border: none;
    background:  rgb(255, 255, 255);
    color:  rgb(0, 0, 0);

    font-size: 0.9rem;}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333; /* Dark gray color */
}

.tab-container {
  display: flex;
}

.tab {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px; /* Kenar yuvarlatma ekleniyor */
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tab:hover {
  background-color: rgb(47, 50, 65);
}

.wallet{
  animation: rainbowAnimation 20s linear infinite; /* Adjust the duration and easing as needed */

  transition: all 0.1s ease 0s;
  color: white;
  background-color: rgb(68, 131, 235);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 0px inset, rgb(83, 97, 180) 0px 0px 12px inset;
  border: transparent;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-family: inherit;
  font-size: 0.9rem;
  text-shadow: rgba(0, 0, 0, 0.3) 0.5px 1px 2px;
  cursor: pointer;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dc-img {
  background-image: url("./assets/img/Discord.jpg");
  width: 100%;
  height: 200px;
  background-position: center;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.score{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width:740px;;
  height:100px;
  background-color: #213743;
  margin-bottom: 3px;
}
.wrapper {
  position:relative;
  display:flex;
  max-height:650px;
  max-width:740px;;
}

.wrapper .settings{
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  background-color: rgb(33, 55, 67);
  min-width: 200px ;
}

.settings .btn {
  position:relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px, rgb(0 0 0 / 12%) 0px 1px 2px 0px;
  background:rgb(31, 255, 32);
  padding: 25px;
  font-size:25px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 15px
}
.btn-container{
  text-align: center;  
  padding-top: 100px;  
}
.container {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 3px;


}
.container button {
  aspect-ratio: 1;
}
.boxImage {
  border-radius: 7px;
  transition: 0.5s ease-in-out; /* Adjust the duration and timing function */
  background-repeat: no-repeat;
}

.boxImage:hover {
  background-color: #557085;
  transform: scale(1.1);
  transform-origin: bottom;
}

/* Media query for Android devices */
@media only screen and (max-width: 767px) {
  .boxImage {
    background-size: 50px;
  }
}

/* Media query for desktop PCs */
@media only screen and (min-width: 768px) {
  .boxImage {
    background-size: 80px;
  }
}
.container .boxs {
  border: 1px solid black;
  border-radius: 7px;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: 80px;
}

.container .boxs:hover {
  background-color: #557085;
  transform: scale(1.1);
  transform-origin: bottom;
}

/* Media query for Android devices */
@media only screen and (max-width: 767px) {
  .container .boxs {
    background-size: 50px;
  }
}



.finish-score{
  color: rgb(0, 231, 1);
  font-size: 1rem;
  background: rgb(26, 44, 56);
  border-radius: 0.5rem;
  text-align: center;
  position: absolute;
  font-weight: 800;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 100%;
  min-width: 150px;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.87, -0.41, 0.19, 1.44);
  border: 3px solid rgb(0, 231, 1);
  box-shadow: rgb(0 0 0 / 20%) 0px 10px 15px -3px, rgb(0 0 0 / 10%) 0px 4px 6px -2px;
  display:none;

}


.finish-score .center{
  text-align: center;
  width: 100%;
  padding: 1em;
  display:block
}

.mineNumberSetting{
  width: 100%;
  color: inherit;
  font-family: inherit;
  border-radius: 4px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  min-height: 40px;  
  display: flex; flex-direction: column; color: white; gap: 5px;
}
.mineNumberSettings{
  width: 100%;
  
  background-color: #2F3241;
  border: 2px solid #393E5A;
  color: inherit;
  font-family: inherit;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  color: inherit;
  font-family: inherit;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.mineNumberText{
  margin-bottom: 15px;
}
#mineNumber{
  width: 100%;
  
  background-color: #2F3241;
  border: 2px solid #393E5A;
  color: inherit;
  font-family: inherit;
  border-radius: 4px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  min-height: 40px;}
  
.header {
  z-index: -1;
}
.aside-logo {
  display: none;
}
.aside-div {
  z-index: 8;
}

.btn-bet:hover {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background-color: rgb(75, 85, 99);
  border-bottom: 4px solid rgb(43, 43, 255);
}

.mobileNav{
  z-index: 2;
}



.range-slider{
  max-width: 700px;
  position: relative;
}


.inputRange{
  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d3;
  outline: none;
  height: 10px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: linear-gradient(90deg, rgb(255, 0, 0) 50%, rgb(5, 223, 5) 50%);
  accent-color: rgb(0, 214, 0);
  accent-color: blue;
  background-color: #ffda21;
}




input[type="range"]::-webkit-slider-thumb{
  background-color: rgb(68, 131, 235);
  border-radius: 4px;
  cursor: grab;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 3px;
  transition: all 0.05s ease 0s;
  box-shadow: rgba(43, 42, 42, 0.28) 0px -3px 0px inset;
  -webkit-appearance: none;
  appearance: none;
  width: 27px;
  height: 25px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(77,77, 255);
  cursor: pointer;
}
